*{
    padding: 0px;
    margin: 0px;
}
.project{
    margin: auto;
}
.main-text{
    width: 100%;
    background-color: hotpink;
    text-align: center;
}
.main-text h1{
    padding: 20px;
    font-family: cursive;
}
.left-side{
    padding: 20px;
    background-color: black;
    color: white;
}
.img1 img{
    width: 50%;
    height: 50%;
    transform: translate(50% );
}
.left-side i{
    transform: translate(50%);
}
.left-side a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    margin-top: 20px;
    
}  
.left-side a:hover {
    background-color: #ddd;
    color: black;
}  
.next {
    background-color:hotpink;
    color: white;
}  
