*{
    margin: 0px;
    padding: 0px;
}
.project{
    margin: auto;
}
.main-text{
    width: 100%;
    background-color: hotpink;
    text-align: center;
}
.main-text h1{
    padding: 20px;
    font-family: cursive;
}

.body{
    background-color: black;
    font-family:serif;
    color: white;
}
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}
  /* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 50%;
    padding: 0 4px;
}  
.column img {
    margin-top: 8px;
    vertical-align: middle;
   /* width: 20%;
    height: 10%;*/
}  
.column small{
    color: white;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
}
  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    }
}  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    }
}
.body a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    margin-top: 20px;
}  
.body a:hover {
    background-color: #ddd;
    color: black;
}  
.previous {
    background-color: hotpink;
    color:white;
}
.next {
    background-color:hotpink;
    color: white;
}